<div id="w14g"></div>
<form>
  <span id="input_at">@</span>
  <label class="screen_name_label" for="screen_name">Enter Twitter Username</label>
  <input type="text" name="screen_name" class="screen_name_input" autofocus="autofocus" value="<%= model.escape('screenName') %>">
  <input type="image" src="images/return.png" class="screen_name_submit" />
</form>
