<div id="w14g"></div>
<p class="field screen-name">
<form>
  <label class="screen_name_label" for="screen_name">@&nbsp;</label>
  <input type="text" name="screen_name" class="screen_name_input" placeholder="Enter Twitter Username" autofocus="autofocus" value="<%= model.escape('screenName') %>" />
  <button id="submit">So what was I thinking?</button>
</form>
</p>
