<div id="w14g"></div>
<form>
  <label class="screen_name_label" for="screen_name">@&nbsp;</label>
  <input type="text" name="screen_name" class="screen_name_input" placeholder="Enter Twitter Username" value="<%= model.escape('screenName') %>">
  <input type="image" src="images/return.png" class="screen_name_submit" />
</form>
