<% if (collection.isFiltered()) { %>
<h1 class="tweets-filter">
  Tweets about <span class="filter-term"><%= collection.currentFilter %></span>.
  <a href="#!/<%= encodeURIComponent(model.get('screenName')) %>">Show all</a>
</h1>
<% } %>
