<% if (collection.isFiltered()) { %>
<h2 class="tweets-filter">
  Tweets filtered by "<%= collection.currentFilter %>".
  <a href="#<%= encodeURIComponent(model.get('screen_name')) %>">Reset Filter</a>
</h2>
<% } %>

<ul>
  <% _.each(_.first(collection.visible(), 50), function(item) { %>
  <li class="tweet" id="tweet-<%= item.get('id_str') %>">
    <%= item.escape('text') %>
  </li>
  <% }); %>
</ul>
